In [107]:
str1 = '刑法第二百八十四條第一項前段之過失傷害罪，法定刑為六月以下有期徒刑、拘役或五百元以下罰金，本條雖未經修正，然據修正後刑法施行法增訂第一條之一'

In [108]:
str1

'刑法第二百八十四條第一項前段之過失傷害罪，法定刑為六月以下有期徒刑、拘役或五百元以下罰金，本條雖未經修正，然據修正後刑法施行法增訂第一條之一'

In [109]:
print(str1)

刑法第二百八十四條第一項前段之過失傷害罪，法定刑為六月以下有期徒刑、拘役或五百元以下罰金，本條雖未經修正，然據修正後刑法施行法增訂第一條之一

In [110]:
money=700
year=6

In [111]:
money

700

In [112]:
year

6

In [113]:
print("罰金", money, "元")

罰金 700 元

In [195]:
import pandas as pd

# read csv file
allstudent = pd.read_csv("allstudent.csv")
applystudent = pd.read_csv("applystudent.csv")

In [196]:
allstudent.tail()

     姓名         學號                       電子郵件信箱
40  邱致瑋  41071211H      will.cw.chiou@gmail.com
41  杜洺鋒  41071227H  41071227H@gapps.ntnu.edu.tw
42  魏士凱  41071229H  41071229h@gapps.ntnu.edu.tw
43  廖誌晨  41171212H      r995022526651@gmail.com
44  蔡昱宏  91199015Y     andersontsaitw@gmail.com

In [197]:
alldata = list(allstudent['學號'])
print("全部修課學生數:", len(alldata), " vs. 提交表單學生數(可能有重複繳交):", len(applystudent))

全部修課學生數: 45  vs. 提交表單學生數(可能有重複繳交): 55

In [198]:
final_df = applystudent.drop_duplicates(subset=['學號'])
final_df.head()

          學號
0  41071119H
1  41071107H
2  41071117H
3  40971130H
4  40971122h

In [199]:
applys = list(final_df['學號'].str.upper()) #強制將所有學號的英文字母都變成大寫
print("剔除掉重複繳交的學生人數:", len(applys))

剔除掉重複繳交的學生人數: 44

In [200]:
applys

['41071119H',
 '41071107H',
 '41071117H',
 '40971130H',
 '40971122H',
 '40971125H',
 '41171212H',
 '41071213H',
 '41071127H',
 '41071115H',
 '60971037H',
 '41071122H',
 '41071110H',
 '41071118H',
 '41071104H',
 '41071227H',
 '41071106H',
 '40923117L',
 '41071120H',
 '40923213L',
 '41071205H',
 '41071105H',
 '41071102H',
 '41071211H',
 '41071103H',
 '41071134H',
 '41071129H',
 '41071109H',
 '41071101H',
 '40971203H',
 '40871117H',
 '41071112H',
 '41071124H',
 '40971117H',
 '41071111H',
 '40971116H',
 '41071108H',
 '41071229H',
 '40971225H',
 '41071132H',
 '40971229H',
 '41071133H',
 '91199015Y',
 '61071009H']

In [192]:
set(alldata).difference(set(applys)) #找到在選課名單裡，卻沒有繳交任務的學生

{'40871215H', '41071116H'}

In [201]:
set(applys).difference(set(alldata)) #找到在繳交列表中，但沒有出現在選課名單裡的學生

{'61071009H'}

In [ ]:
# 參考範例: https://ithelp.ithome.com.tw/articles/10186540