In [1]:
import pandas as pd

play1 = pd.read_csv("play1.csv")
play2 = pd.read_csv("play2.csv")

In [2]:
play1

    球隊  名次   勝   負     勝率
0   爵士   1  52  20  0.722
1   太陽   2  51  21  0.708
2   金塊   3  47  25  0.653
3   快艇   4  47  25  0.653
4  獨行俠   5  42  30  0.583

In [3]:
play2

    球隊  名次   勝   負     勝率
0   太陽   1  64  18  0.780
1   灰熊   2  56  26  0.683
2   勇士   3  53  29  0.646
3  獨行俠   4  52  30  0.634
4   爵士   5  49  33  0.598

In [11]:
list1 = set(list(play1['球隊']))
list2 = set(list(play2['球隊']))

In [12]:
list1

{'太陽', '快艇', '爵士', '獨行俠', '金塊'}

In [13]:
list2

{'勇士', '太陽', '灰熊', '爵士', '獨行俠'}

In [14]:
# 交集 (兩次比賽都有出現的球隊)
print(list1&list2)

{'太陽', '獨行俠', '爵士'}