In [1]:
! pip install pandas

Requirement already satisfied: pandas in c:\users\pecu\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\pecu\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\pecu\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\pecu\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\pecu\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [2]:
import pandas as pd

# 替換 'your_file.csv' 為你的 CSV 檔案路徑
pl = pd.read_csv('pl.csv')
ds = pd.read_csv('ds.csv')

In [4]:
pl.head()

    姓名          學(帳)號                     電子郵件信箱
0  呂茗憲      40971227H       91120chris@gmail.com
1   陳惠      40923229L  chenhui20020709@gmail.com
2  劉冠忠      40957041O       akuang0904@gmail.com
3  王楚鈞  NTU_B09204028       wongchujun@gmail.com
4  林盈婕      40971102H      40971102h@ntnu.edu.tw

In [5]:
ds.head()

    姓名      學(帳)號                       電子郵件信箱
0  鄭遠承  40830050A       Oscar5534920@gmail.com
1  孫唯真  40975028H         suen333mia@gmail.com
2  柯幸孜  41071105H  41071105H@gapps.ntnu.edu.tw
3  孙源智  41013018E           ydsoon02@gmail.com
4  林志遠  41071104H  41071104H@gapps.ntnu.edu.tw

In [14]:
pl_first_col = set(pl.iloc[:, 0])
ds_first_col = set(ds.iloc[:, 0])

In [15]:
type(ds_first_col)

set

In [16]:
type(pl_first_col)

set

In [18]:
# 計算差集（在 set1 中但不在 set2 中的元素）
difference = ds_first_col - pl_first_col

# 計算交集（同時在 set1 和 set2 中的元素）
intersection = ds_first_col & pl_first_col

# 計算聯集（在 set1 或 set2 中的所有元素）
union = ds_first_col | pl_first_col

# 顯示結果
print("差集, 有修資料結構但沒有修程式語言的學生為:", difference)
print("交集, 同時修資料結構與程式語言的學生為:", intersection)
print("聯集, 有修程式語言或是資料結構的學生為:", union)

差集, 有修資料結構但沒有修程式語言的學生為: {'邱致瑋', '潘柔玉', '林立涵', '鄭遠承', '柯幸孜', '余永興', '林元方', '孟一鳴', '方宥鈞', '魏士凱', '游建佑', '施宏儒', '劉禹岑', '蔡馨雅', '劉彥谷', '孫唯真', '吳宜庭', '許家寧', '黃紫馨', '黃品嘉', '孙源智', '林冠秀', '李騰騏', '洪芷葳', '陳芊伃', '蔡宜柔', '林志遠', '翁健哲', '溫苡含'}
交集, 同時修資料結構與程式語言的學生為: {'李佩宸', '王方瑩', '林軒宇', '康恩瑋', '詹喬崴', '孫士傑', '呂沛修', '鄭意平', '蔡芸琤', '陳廷安', '黃新瑞', '藍家蓁', '楊思瑜', '許瑋庭', '何舒葦', '翁睿承'}
聯集, 有修程式語言或是資料結構的學生為: {'邱致瑋', '黃新瑞', '鄭遠承', '余永興', '黎嘉華', '林元方', '孟一鳴', '顏志凌', '張皓翔', '鄭意平', '王方瑩', '董承翰', '鄧亦宸', '蔡馨雅', '丁祺', '孫唯真', '吳宜庭', '潘穎翰', '楊思瑜', '呂茗憲', '郭昕宇', '林盈婕', '黃宇謙', '黃紫馨', '孫士傑', '孙源智', '林冠秀', '劉媞欣', '李騰騏', '陳芊伃', '林聿權', '藍家蓁', '溫苡含', '莊博宇', '陳芃屹', '林軒宇', '蔡欣芸', '陳惠', '潘柔玉', '林立涵', '吳承翰', '李佩宸', '柯幸孜', '吳昀晏', '張懷慈', '方宥鈞', '魏士凱', '游建佑', '何舒葦', '李心于', '翁睿承', '施宏儒', '劉禹岑', '康恩瑋', '劉彥谷', '陳廷安', '許家寧', '鄭銘霆', '周俊辰', '詹喬崴', '黃品嘉', '呂沛修', '洪芷葳', '王楚鈞', '蔡芸琤', '蔡宜柔', '鍾孟傑', '林志遠', '翁健哲', '許瑋庭', '劉冠忠'}